 .App {
  text-align: center;
} 

.container{
  margin: auto;
  background-color: rgb(80, 99, 114);
  border: 10px;
  border-radius: 3px;
  height: 400px;
  color: white;
  padding-top: 30px;
  border-color: black;
  border-width: 5px;
}


